# Overlay SAVE/LOAD/QUIT: virtual joystick 16/17/18 (1040/1041/1042).
# FAST_FORWARD = 1024+9 (L3). FAKE_MICROPHONE = 1024+12 (R3).

frameskip_type = 0
frameskip_value = 1
safe_frameskip = 1
show_frame_counter = 0
screen_orientation = 0
screen_swap = 0
savestate_number = 0
fast_forward = 0
enable_sound = 1
hires_3d = 0
threaded_3d = 1
disable_edge_marking = 1
interframe_blend = 0
screen_wait_for_vsync = 0
compress_savestates = 1
backup_in_savestates = 1
firmware.username = SimpleOS
firmware.language = 1
controls_a[CONTROL_INDEX_MENU] = 65535
controls_b[CONTROL_INDEX_MENU] = 65535
controls_a[CONTROL_INDEX_START] = 1031
controls_b[CONTROL_INDEX_START] = 1031
controls_a[CONTROL_INDEX_SELECT] = 1030
controls_b[CONTROL_INDEX_SELECT] = 1030
controls_a[CONTROL_INDEX_SAVE_STATE] = 1040
controls_a[CONTROL_INDEX_LOAD_STATE] = 1041
controls_a[CONTROL_INDEX_FAST_FORWARD] = 1033
controls_b[CONTROL_INDEX_FAST_FORWARD] = 1033
controls_a[CONTROL_INDEX_FAKE_MICROPHONE] = 1036
controls_b[CONTROL_INDEX_FAKE_MICROPHONE] = 1036
controls_a[CONTROL_INDEX_QUIT] = 1042
